<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<div class="add-employee-container">
    <h2>Add Employee</h2>
    
      <div class="add-tab">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="name">Employee Name:</label>
            <input id="name" formControlName="name" type="text">
            <div *ngIf="employeeForm.controls['name'].invalid && (employeeForm.controls['name'].dirty || employeeForm.controls['name'].touched)">
                <small *ngIf="employeeForm.controls['name'].errors?.['required']">Employee Name is required.</small>
            </div>
        </div>
        <div>
            <label for="contact">Contact No:</label>
            <input id="contact" formControlName="contact" type="text">
            <div *ngIf="employeeForm.controls['contact'].invalid && (employeeForm.controls['contact'].dirty || employeeForm.controls['contact'].touched)">
                <small *ngIf="employeeForm.controls['contact'].errors?.['required']">Contact No is required.</small>
                <small *ngIf="employeeForm.controls['contact'].errors?.['pattern']">Contact No must be 10 digits.</small>
            </div>
        </div>
        <div>
            <label for="email">Email:</label>
            <input id="email" formControlName="email" type="email">
            <div *ngIf="employeeForm.controls['email'].invalid && (employeeForm.controls['email'].dirty || employeeForm.controls['email'].touched)">
                <small *ngIf="employeeForm.controls['email'].errors?.['required']">Email is required.</small>
                <small *ngIf="employeeForm.controls['email'].errors?.['email']">Email must be a valid email format.</small>
            </div>
        </div>
        <div>
            <label for="address">Address:</label>
            <input id="address" formControlName="address" type="text">
            <div *ngIf="employeeForm.controls['address'].invalid && (employeeForm.controls['address'].dirty || employeeForm.controls['address'].touched)">
                <small *ngIf="employeeForm.controls['address'].errors?.['required']">Address is required.</small>
            </div>
        </div>
        <button type="submit" class="submit" [disabled]="employeeForm.invalid">Submit</button>
        <button mat-icon-button class="close-btn" (click)="closeTab()">
            <div class="fa-closed">Close</div>
          </button>
    </form>
</div>
</div>
