<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<div class="page-container" [class.sidebar-expanded]="isSidebarExpanded">
    <app-sidebar></app-sidebar>
   
    <div class="table-container">
        <div class="emp-list-head">
            <p class="screen-header1">
                <span class="emp-head">Employee List</span>
            </p>
            <i class="fas fa-user-plus nav-icon" (click)="navigateToAddEmp()"></i>
        </div>
       
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="sticky-column th-div">
                    Name
                    <input matInput (keyup)="applyFilter($event, 'name')" placeholder="Search Name">
                </th>
                <td mat-cell *matCellDef="let element" class="sticky-column"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef class="th-div">
                    Email
                    <input matInput (keyup)="applyFilter($event, 'email')" placeholder="Search Email">
                </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="contact">
                <th mat-header-cell *matHeaderCellDef class="th-div">
                    Contact
                    <input matInput (keyup)="applyFilter($event, 'contact')" placeholder="Search Contact">
                </th>
                <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef class="th-div">
                    Address
                    <input matInput (keyup)="applyFilter($event, 'address')" placeholder="Search Address">
                </th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="th-div"> Action </th>
                <td mat-cell *matCellDef="let element" class="action-column">
                    <mat-icon (click)="deleteRow(element)">delete</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons [pageSize]="10"
            [length]="dataSource.data.length">
        </mat-paginator>
    </div>
</div>